<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>game.2048.titlelabel.text</string>
		<key>segueId</key>
		<string>TwoZeroFourEightVC</string>
		<key>needNavigation</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>game.sudoku.titlelabel.text</string>
		<key>segueId</key>
		<string></string>
		<key>needNavigation</key>
		<false/>
	</dict>
</dict>
</plist>
