<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public</key>
	<dict>
		<key>exit</key>
		<dict>
			<key>zh</key>
			<string>退出</string>
			<key>en</key>
			<string>Exit</string>
		</dict>
		<key>copy</key>
		<dict>
			<key>zh</key>
			<string>复制</string>
			<key>en</key>
			<string>Copy</string>
		</dict>
		<key>start</key>
		<dict>
			<key>zh</key>
			<string>开始</string>
			<key>en</key>
			<string>Start</string>
		</dict>
		<key>pause</key>
		<dict>
			<key>zh</key>
			<string>暂停</string>
			<key>en</key>
			<string>Pause</string>
		</dict>
		<key>return</key>
		<dict>
			<key>zh</key>
			<string>返回</string>
			<key>en</key>
			<string>Return</string>
		</dict>
		<key>stop</key>
		<dict>
			<key>zh</key>
			<string>停止</string>
			<key>en</key>
			<string>Stop</string>
		</dict>
		<key>clear</key>
		<dict>
			<key>zh</key>
			<string>清除</string>
			<key>en</key>
			<string>Clear</string>
		</dict>
	</dict>
	<key>alert</key>
	<dict>
		<key>tips</key>
		<dict>
			<key>zh</key>
			<string>提示</string>
			<key>en</key>
			<string>TIPS</string>
		</dict>
		<key>isee</key>
		<dict>
			<key>zh</key>
			<string>我知道啦</string>
			<key>en</key>
			<string>I see</string>
		</dict>
		<key>continue</key>
		<dict>
			<key>zh</key>
			<string>继续</string>
			<key>en</key>
			<string>Continue</string>
		</dict>
		<key>cancel</key>
		<dict>
			<key>zh</key>
			<string>取消</string>
			<key>en</key>
			<string>Cancel</string>
		</dict>
		<key>open</key>
		<dict>
			<key>zh</key>
			<string>打开</string>
			<key>en</key>
			<string>Open</string>
		</dict>
		<key>move</key>
		<dict>
			<key>zh</key>
			<string>移动</string>
			<key>en</key>
			<string>Move</string>
		</dict>
		<key>rename</key>
		<dict>
			<key>zh</key>
			<string>重命名</string>
			<key>en</key>
			<string>Rename</string>
		</dict>
		<key>delete</key>
		<dict>
			<key>zh</key>
			<string>删除</string>
			<key>en</key>
			<string>Delete</string>
		</dict>
		<key>confirm</key>
		<dict>
			<key>zh</key>
			<string>确认</string>
			<key>en</key>
			<string>Confirm</string>
		</dict>
	</dict>
	<key>tool</key>
	<dict>
		<key>tabbaritem.title</key>
		<dict>
			<key>zh</key>
			<string>工具</string>
			<key>en</key>
			<string>Tools</string>
		</dict>
		<key>viewname</key>
		<dict>
			<key>zh</key>
			<string>工具列表</string>
			<key>en</key>
			<string>Tool List</string>
		</dict>
		<key>barcode.titlelabel.text</key>
		<dict>
			<key>zh</key>
			<string>二维码扫描</string>
			<key>en</key>
			<string>Bar Code Scan</string>
		</dict>
		<key>barcode.reader.label.text</key>
		<dict>
			<key>zh</key>
			<string>按下并开始扫描。</string>
			<key>en</key>
			<string>Tap on and start to capture code.</string>
		</dict>
		<key>barcode.resultlabel.text</key>
		<dict>
			<key>zh</key>
			<string>扫描结果：</string>
			<key>en</key>
			<string>Scan result:</string>
		</dict>
		<key>barcode.resulttext.text</key>
		<dict>
			<key>zh</key>
			<string>木有结果哦～</string>
			<key>en</key>
			<string>No result for scanning~</string>
		</dict>
		<key>barcode.nosound.message</key>
		<dict>
			<key>zh</key>
			<string>不能读取声音文件。</string>
			<key>en</key>
			<string>Can not initialize sound file.</string>
		</dict>
		<key>barcode.initinput.message</key>
		<dict>
			<key>zh</key>
			<string>出现错误啦：</string>
			<key>en</key>
			<string>Error occur:</string>
		</dict>
		<key>barcode.noinput.message</key>
		<dict>
			<key>zh</key>
			<string>不能添加AVCaptureDeviceInput。</string>
			<key>en</key>
			<string>Cannot add AVCaptureDeviceInput.</string>
		</dict>
		<key>barcode.nooutput.message</key>
		<dict>
			<key>zh</key>
			<string>不能添加AVCaptureDeviceOutput。</string>
			<key>en</key>
			<string>Cannot add AVCaptureDeviceOutput.</string>
		</dict>
		<key>texteditor.title</key>
		<dict>
			<key>zh</key>
			<string>文本编辑器</string>
			<key>en</key>
			<string>Text Editor</string>
		</dict>
		<key>texteditor.openfail.message</key>
		<dict>
			<key>zh</key>
			<string>不能初始化文本编辑器</string>
			<key>en</key>
			<string>Can&apos;t initialize Text Editor.</string>
		</dict>
		<key>texteditor.namelabel.text</key>
		<dict>
			<key>zh</key>
			<string>文件名：</string>
			<key>en</key>
			<string>File name:</string>
		</dict>
		<key>texteditor.rightbar.text</key>
		<dict>
			<key>zh</key>
			<string>保存</string>
			<key>en</key>
			<string>Save</string>
		</dict>
		<key>texteditor.nofilename.message</key>
		<dict>
			<key>zh</key>
			<string>请输入文件名。</string>
			<key>en</key>
			<string>You should input the file name.</string>
		</dict>
		<key>texteditor.norename.message</key>
		<dict>
			<key>zh</key>
			<string>不能用此文件名保存，并且将以原文件名保存。</string>
			<key>en</key>
			<string>You can&apos;t save with the file name and it&apos;ll save as the original name.</string>
		</dict>
		<key>texteditor.savesuccess.message</key>
		<dict>
			<key>zh</key>
			<string>成功保存文件于</string>
			<key>en</key>
			<string>You&apos;ve saved file at</string>
		</dict>
		<key>texteditor.savefail.message</key>
		<dict>
			<key>zh</key>
			<string>啊哦，保存文件不成功。</string>
			<key>en</key>
			<string>Oops, can not save the file.</string>
		</dict>
		<key>texteditor.saveforget.message</key>
		<dict>
			<key>zh</key>
			<string>尚未保存该文件！</string>
			<key>en</key>
			<string>You&apos;ve not saved this file!</string>
		</dict>
		<key>explorer.title</key>
		<dict>
			<key>zh</key>
			<string>文件浏览</string>
			<key>en</key>
			<string>File Explorer</string>
		</dict>
		<key>explorer.popover.create</key>
		<dict>
			<key>zh</key>
			<string>新建</string>
			<key>en</key>
			<string>Create</string>
		</dict>
		<key>explorer.popover.paste</key>
		<dict>
			<key>zh</key>
			<string>粘贴</string>
			<key>en</key>
			<string>Paste</string>
		</dict>
		<key>explorer.init.message</key>
		<dict>
			<key>zh</key>
			<string>不能初始化“文件浏览”.</string>
			<key>en</key>
			<string>Cannot initialize File Explorer.</string>
		</dict>
		<key>explorer.fileinfo.path</key>
		<dict>
			<key>zh</key>
			<string>路径</string>
			<key>en</key>
			<string>PATH</string>
		</dict>
		<key>explorer.fileinfo.name</key>
		<dict>
			<key>zh</key>
			<string>文件名</string>
			<key>en</key>
			<string>NAME</string>
		</dict>
		<key>explorer.fileinfo.size</key>
		<dict>
			<key>zh</key>
			<string>大小</string>
			<key>en</key>
			<string>SIZE</string>
		</dict>
		<key>explorer.fileinfo.createdate</key>
		<dict>
			<key>zh</key>
			<string>创建日期</string>
			<key>en</key>
			<string>CREATE_DATE</string>
		</dict>
		<key>explorer.fileinfo.modifydate</key>
		<dict>
			<key>zh</key>
			<string>修改日期</string>
			<key>en</key>
			<string>MODIFY_DAY</string>
		</dict>
		<key>explorer.longpress.message</key>
		<dict>
			<key>zh</key>
			<string>你将要处理</string>
			<key>en</key>
			<string>What do you want to do with</string>
		</dict>
		<key>explorer.create.title</key>
		<dict>
			<key>zh</key>
			<string>创建文件或文件夹</string>
			<key>en</key>
			<string>Create File or Folder</string>
		</dict>
		<key>explorer.create.createfile.title</key>
		<dict>
			<key>zh</key>
			<string>创建文件</string>
			<key>en</key>
			<string>Create File</string>
		</dict>
		<key>explorer.create.createfolder.title</key>
		<dict>
			<key>zh</key>
			<string>创建文件夹</string>
			<key>en</key>
			<string>Create Folder</string>
		</dict>
		<key>explorer.create.placeholder</key>
		<dict>
			<key>zh</key>
			<string>请输入名字</string>
			<key>en</key>
			<string>please input file name</string>
		</dict>
		<key>explorer.upper.error</key>
		<dict>
			<key>zh</key>
			<string>不能进入上一层目录。</string>
			<key>en</key>
			<string>Can&apos;t go to the upper directory.</string>
		</dict>
		<key>explorer.delete.message</key>
		<dict>
			<key>zh</key>
			<string>你将再也不能拥有</string>
			<key>en</key>
			<string>You will no longer be possessing the file</string>
		</dict>
		<key>explorer.delete.error</key>
		<dict>
			<key>zh</key>
			<string>不能删除此文件或者文件夹。</string>
			<key>en</key>
			<string>Can&apos;t delete the file or folder.</string>
		</dict>
		<key>explorer.paste.success1</key>
		<dict>
			<key>zh</key>
			<string>文件</string>
			<key>en</key>
			<string>File from</string>
		</dict>
		<key>explorer.paste.success2</key>
		<dict>
			<key>zh</key>
			<string>已经移动到</string>
			<key>en</key>
			<string>is moved to</string>
		</dict>
		<key>explorer.paste.error1</key>
		<dict>
			<key>zh</key>
			<string>不能移动</string>
			<key>en</key>
			<string>Can&apos;t move file from</string>
		</dict>
		<key>explorer.paste.error2</key>
		<dict>
			<key>zh</key>
			<string>到</string>
			<key>en</key>
			<string>to</string>
		</dict>
		<key>explorer.rename.message</key>
		<dict>
			<key>zh</key>
			<string>请输入新名字。</string>
			<key>en</key>
			<string>Please Input new name.</string>
		</dict>
		<key>explorer.rename.success</key>
		<dict>
			<key>zh</key>
			<string>重命名成功</string>
			<key>en</key>
			<string>Rename success!</string>
		</dict>
		<key>explorer.rename.nochange</key>
		<dict>
			<key>zh</key>
			<string>没有变更名字哦！</string>
			<key>en</key>
			<string>No change!</string>
		</dict>
		<key>explorer.rename.fail</key>
		<dict>
			<key>zh</key>
			<string>重命名失败 TAT</string>
			<key>en</key>
			<string>Rename fail TAT</string>
		</dict>
		<key>explorer.create.empty</key>
		<dict>
			<key>zh</key>
			<string>输入内容不能为空。</string>
			<key>en</key>
			<string>The name must not be empty.</string>
		</dict>
		<key>explorer.create.exist</key>
		<dict>
			<key>zh</key>
			<string>文件或者文件夹已存在</string>
			<key>en</key>
			<string>The file or folder is already existed.</string>
		</dict>
		<key>marquee.namelabel.text</key>
		<dict>
			<key>zh</key>
			<string>跑马灯文字</string>
			<key>en</key>
			<string>Marquee Text</string>
		</dict>
		<key>marquee.colorseg.text</key>
		<dict>
			<key>zh</key>
			<string>文字颜色</string>
			<key>en</key>
			<string>Text Color</string>
		</dict>
		<key>marquee.colorseg.back</key>
		<dict>
			<key>zh</key>
			<string>背景颜色</string>
			<key>en</key>
			<string>Background Color</string>
		</dict>
		<key>marquee.contentlabel.text</key>
		<dict>
			<key>zh</key>
			<string>内容：</string>
			<key>en</key>
			<string>Text:</string>
		</dict>
		<key>marquee.contenttext.text</key>
		<dict>
			<key>zh</key>
			<string>这是一段示例文字。</string>
			<key>en</key>
			<string>This is a demo.</string>
		</dict>
		<key>marquee.speedlabel.text</key>
		<dict>
			<key>zh</key>
			<string>速度：</string>
			<key>en</key>
			<string>Speed:</string>
		</dict>
		<key>marquee.speedseg.rate</key>
		<dict>
			<key>zh</key>
			<string>移动速率</string>
			<key>en</key>
			<string>Rate</string>
		</dict>
		<key>marquee.speedseg.duration</key>
		<dict>
			<key>zh</key>
			<string>持续时间</string>
			<key>en</key>
			<string>Duration</string>
		</dict>
		<key>marquee.showbtn.title</key>
		<dict>
			<key>zh</key>
			<string>展示</string>
			<key>en</key>
			<string>Show</string>
		</dict>
		<key>audio.namelabel.text</key>
		<dict>
			<key>zh</key>
			<string>音乐盒</string>
			<key>en</key>
			<string>Audio Tool</string>
		</dict>
	</dict>
	<key>game</key>
	<dict>
		<key>tabbaritem.title</key>
		<dict>
			<key>zh</key>
			<string>游戏</string>
			<key>en</key>
			<string>Games</string>
		</dict>
		<key>viewname</key>
		<dict>
			<key>zh</key>
			<string>游戏列表</string>
			<key>en</key>
			<string>Game List</string>
		</dict>
		<key>2048.titlelabel.text</key>
		<dict>
			<key>zh</key>
			<string>2048</string>
			<key>en</key>
			<string>2048</string>
		</dict>
		<key>2048.scoretextlabel.text</key>
		<dict>
			<key>zh</key>
			<string>得分：</string>
			<key>en</key>
			<string>Score:</string>
		</dict>
		<key>2048.highscoretextlabel.text</key>
		<dict>
			<key>zh</key>
			<string>最高分：</string>
			<key>en</key>
			<string>High Score:</string>
		</dict>
		<key>2048.newbutton.title</key>
		<dict>
			<key>zh</key>
			<string>新游戏</string>
			<key>en</key>
			<string>New Game</string>
		</dict>
		<key>2048.newbutton.message</key>
		<dict>
			<key>zh</key>
			<string>将要重新开始游戏。</string>
			<key>en</key>
			<string>You will have a new game.</string>
		</dict>
		<key>2048.gameover.message</key>
		<dict>
			<key>zh</key>
			<string>游戏结束！</string>
			<key>en</key>
			<string>Game Over!</string>
		</dict>
		<key>sudoku.titlelabel.text</key>
		<dict>
			<key>zh</key>
			<string>数独</string>
			<key>en</key>
			<string>Sudoku</string>
		</dict>
		<key>sudoku.resetbutton.title</key>
		<dict>
			<key>zh</key>
			<string>重玩</string>
			<key>en</key>
			<string>Reset</string>
		</dict>
		<key>sudoku.timelabel.text</key>
		<dict>
			<key>zh</key>
			<string>耗时：</string>
			<key>en</key>
			<string>Time:</string>
		</dict>
		<key>sudoku.gameover.message</key>
		<dict>
			<key>zh</key>
			<string>你已经完成谜题。</string>
			<key>en</key>
			<string>You&apos;d finished the puzzle.</string>
		</dict>
		<key>sudoku.loadfailed.message</key>
		<dict>
			<key>zh</key>
			<string>加载谜题失败。ToT</string>
			<key>en</key>
			<string>Cannot load puzzles. ToT</string>
		</dict>
		<key>sudoku.reset.message</key>
		<dict>
			<key>zh</key>
			<string>重新开始游戏！</string>
			<key>en</key>
			<string>Reset the game.</string>
		</dict>
		<key>sudoku.runnext.message</key>
		<dict>
			<key>zh</key>
			<string>你将要开始下一个谜题。</string>
			<key>en</key>
			<string>You will run the next puzzle.</string>
		</dict>
		<key>sudoku.runprev.message</key>
		<dict>
			<key>zh</key>
			<string>你将要开始上一个谜题。</string>
			<key>en</key>
			<string>You will run the previous puzzle.</string>
		</dict>
		<key>sudoku.nonext.message</key>
		<dict>
			<key>zh</key>
			<string>已经是最后一个谜题！</string>
			<key>en</key>
			<string>It&apos;s the last puzzle!</string>
		</dict>
		<key>sudoku.noprev.message</key>
		<dict>
			<key>zh</key>
			<string>已经是第一个谜题！</string>
			<key>en</key>
			<string>It&apos;s the first puzzle!</string>
		</dict>
		<key>jumping.title.text</key>
		<dict>
			<key>zh</key>
			<string>跳着</string>
			<key>en</key>
			<string>Jumping</string>
		</dict>
		<key>life.title.text</key>
		<dict>
			<key>zh</key>
			<string>生命游戏</string>
			<key>en</key>
			<string>Game of Life</string>
		</dict>
		<key>life.speedlabel.text</key>
		<dict>
			<key>zh</key>
			<string>速率(s)：</string>
			<key>en</key>
			<string>Speed(s):</string>
		</dict>
		<key>life.gridsizelabel.text</key>
		<dict>
			<key>zh</key>
			<string>格子大小：</string>
			<key>en</key>
			<string>Grid Size:</string>
		</dict>
		<key>life.addbutton.text</key>
		<dict>
			<key>zh</key>
			<string>添加</string>
			<key>en</key>
			<string>Add</string>
		</dict>
		<key>life.editbutton.text</key>
		<dict>
			<key>zh</key>
			<string>编辑</string>
			<key>en</key>
			<string>Edit</string>
		</dict>
	</dict>
</dict>
</plist>
