<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ch</key>
	<dict>
		<key>alert.tips.title</key>
		<string>提示</string>
		<key>alert.isee.title</key>
		<string>我知道啦</string>
		<key>alert.continue.title</key>
		<string>继续</string>
		<key>game.tabbaritem.title</key>
		<string>游戏</string>
		<key>game.viewname</key>
		<string>游戏列表</string>
		<key>tool.tabbaritem.title</key>
		<string>工具</string>
		<key>tool.viewname</key>
		<string>工具列表</string>
		<key>game.2048.titlelabel.text</key>
		<string>2048</string>
		<key>game.2048.scoretextlabel.text</key>
		<string>得分：</string>
		<key>game.2048.highscoretextlabel.text</key>
		<string>最高分：</string>
		<key>game.2048.newbutton.title</key>
		<string>新游戏</string>
		<key>game.2048.newbutton.message</key>
		<string>将要重新开始游戏。</string>
		<key>game.2048.exitbutton.title</key>
		<string>退出</string>
		<key>game.2048.gameover.message</key>
		<string>游戏结束！</string>
		<key>tool.barcode.titlelabel.text</key>
		<string>二维码扫描</string>
		<key>tool.barcode.reader.label.text</key>
		<string>按下并开始扫描。</string>
		<key>tool.barcode.resultlabel.text</key>
		<string>扫描结果：</string>
		<key>tool.barcode.resulttext.text</key>
		<string>木有结果哦～</string>
		<key>tool.barcode.clearbutton.title</key>
		<string>清除</string>
		<key>tool.barcode.copybutton.title</key>
		<string>复制</string>
		<key>tool.barcode.nosound.message</key>
		<string>不能读取声音文件。</string>
		<key>tool.barcode.initinput.message</key>
		<string>出现错误啦：</string>
		<key>tool.barcode.noinput.message</key>
		<string>不能添加AVCaptureDeviceInput。</string>
		<key>tool.barcode.nooutput.message</key>
		<string>不能添加AVCaptureDeviceOutput。</string>
		<key>game.sudoku.titlelabel.text</key>
		<string>数独</string>
		<key>game.sudoku.startbutton.title1</key>
		<string>开始</string>
		<key>game.sudoku.startbutton.title2</key>
		<string>暂停</string>
		<key>game.sudoku.resetbutton.title</key>
		<string>重玩</string>
		<key>game.sudoku.exitbutton.title</key>
		<string>退出</string>
		<key>game.sudoku.timelabel.text</key>
		<string>耗时：</string>
		<key>game.sudoku.gameover.message</key>
		<string>你已经完成谜题。</string>
		<key>game.sudoku.loadfailed.message</key>
		<string>加载谜题失败。ToT</string>
		<key>game.sudoku.reset.message</key>
		<string>重新开始游戏！</string>
		<key>game.sudoku.runnext.message</key>
		<string>你将要开始下一个谜题。</string>
		<key>game.sudoku.runprev.message</key>
		<string>你将要开始上一个谜题。</string>
		<key>game.sudoku.nonext.message</key>
		<string>已经是最后一个谜题！</string>
		<key>game.sudoku.noprev.message</key>
		<string>已经是第一个谜题！</string>
		<key>tool.texteditor.title</key>
		<string>文本编辑器</string>
		<key>tool.texteditor.namelabel.text</key>
		<string>文件名：</string>
		<key>tool.texteditor.rightbar.text</key>
		<string>保存</string>
		<key>tool.texteditor.leftbar.text</key>
		<string>返回</string>
		<key>tool.texteditor.nofilename.message</key>
		<string>请输入文件名。</string>
		<key>tool.texteditor.norename.message</key>
		<string>不能用此文件名保存，并且将以原文件名保存。</string>
		<key>tool.texteditor.savesuccess.message</key>
		<string>成功保存文件于</string>
		<key>tool.texteditor.savefail.message</key>
		<string>啊哦，保存文件不成功。</string>
		<key>tool.texteditor.saveforget.message</key>
		<string>尚未保存该文件！</string>
	</dict>
	<key>en</key>
	<dict>
		<key>alert.tips.title</key>
		<string>TIPS</string>
		<key>alert.isee.title</key>
		<string>I see</string>
		<key>alert.continue.title</key>
		<string>Continue</string>
		<key>game.tabbaritem.title</key>
		<string>Games</string>
		<key>game.viewname</key>
		<string>Game List</string>
		<key>tool.tabbaritem.title</key>
		<string>Tools</string>
		<key>tool.viewname</key>
		<string>Tool List</string>
		<key>game.2048.titlelabel.text</key>
		<string>2048</string>
		<key>game.2048.scoretextlabel.text</key>
		<string>Score:</string>
		<key>game.2048.highscoretextlabel.text</key>
		<string>High Score:</string>
		<key>game.2048.newbutton.title</key>
		<string>New Game</string>
		<key>game.2048.newbutton.message</key>
		<string>You will have a new game.</string>
		<key>game.2048.exitbutton.title</key>
		<string>Exit</string>
		<key>game.2048.gameover.message</key>
		<string>Game Over!</string>
		<key>tool.barcode.titlelabel.text</key>
		<string>Bar Code Scan</string>
		<key>tool.barcode.reader.label.text</key>
		<string>Tap on and start capture code.</string>
		<key>tool.barcode.resultlabel.text</key>
		<string>Scan result:</string>
		<key>tool.barcode.resulttext.text</key>
		<string>No result for scanning~</string>
		<key>tool.barcode.clearbutton.title</key>
		<string>Clear</string>
		<key>tool.barcode.copybutton.title</key>
		<string>Copy</string>
		<key>tool.barcode.nosound.message</key>
		<string>Can not initialize sound file.</string>
		<key>tool.barcode.initinput.message</key>
		<string>Error occur:</string>
		<key>tool.barcode.noinput.message</key>
		<string>Can not add AVCaptureDeviceInput.</string>
		<key>tool.barcode.nooutput.message</key>
		<string>Can not add AVCaptureDeviceOutput.</string>
		<key>game.sudoku.titlelabel.text</key>
		<string>Sudoku</string>
		<key>game.sudoku.startbutton.title1</key>
		<string>Start</string>
		<key>game.sudoku.startbutton.title2</key>
		<string>Pause</string>
		<key>game.sudoku.resetbutton.title</key>
		<string>Reset</string>
		<key>game.sudoku.exitbutton.title</key>
		<string>Exit</string>
		<key>game.sudoku.timelabel.text</key>
		<string>Time:</string>
		<key>game.sudoku.gameover.message</key>
		<string>You&apos;d finished the puzzle.</string>
		<key>game.sudoku.loadfailed.message</key>
		<string>Can not load puzzle. ToT</string>
		<key>game.sudoku.reset.message</key>
		<string>Reset the game!</string>
		<key>game.sudoku.runnext.message</key>
		<string>You will run the next puzzle.</string>
		<key>game.sudoku.runprev.message</key>
		<string>You will run the previous puzzle.</string>
		<key>game.sudoku.nonext.message</key>
		<string>It&apos;s the last puzzle!</string>
		<key>game.sudoku.noprev.message</key>
		<string>It&apos;s the first puzzle!</string>
		<key>tool.texteditor.title</key>
		<string>Text Editor</string>
		<key>tool.texteditor.namelabel.text</key>
		<string>File name: </string>
		<key>tool.texteditor.rightbar.text</key>
		<string>Save</string>
		<key>tool.texteditor.leftbar.text</key>
		<string>Return</string>
		<key>tool.texteditor.nofilename.message</key>
		<string>You should input the file name.</string>
		<key>tool.texteditor.norename.message</key>
		<string>You can&apos;t save with the file name and it&apos;ll save as the original name.</string>
		<key>tool.texteditor.savesuccess.message</key>
		<string>You&apos;ve saved file at</string>
		<key>tool.texteditor.savefail.message</key>
		<string>Oops, can not save the file.</string>
		<key>tool.texteditor.saveforget.message</key>
		<string>You&apos;ve not saved this file!</string>
	</dict>
</dict>
</plist>
