<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>explorer.title</string>
		<key>segueId</key>
		<string>FileExplorerVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>texteditor.title</string>
		<key>segueId</key>
		<string>TextEditorVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>barcode.titlelabel.text</string>
		<key>segueId</key>
		<string>BarCodeVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>marquee.namelabel.text</string>
		<key>segueId</key>
		<string>MarqueeVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>audio.namelabel.text</string>
		<key>segueId</key>
		<string>AudioToolVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>forecast.namelabel.text</string>
		<key>segueId</key>
		<string>ForecastVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
</dict>
</plist>
