<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>File Explorer</string>
		<key>segueId</key>
		<string>FileExplorerVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>tool.texteditor.title</string>
		<key>segueId</key>
		<string>TextEditorVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>tool.barcode.titlelabel.text</string>
		<key>segueId</key>
		<string>BarCodeVC</string>
		<key>needNavigation</key>
		<true/>
	</dict>
</dict>
</plist>
